Repository yamamo-to/msx-serial: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-readme-version, black, mypy, pytest

update-readme-version:
  name: README.mdバージョン更新
  entry: python update_readme_version.py
  language: system
  pass_filenames: false

black:
  name: Black フォーマッター
  entry: black
  language: system
  args:
  - --check
  - --diff

mypy:
  name: MyPy 型チェック
  entry: mypy
  language: system
  args:
  - msx_serial/
  pass_filenames: false

pytest:
  name: PyTest テスト実行
  entry: python -m pytest
  language: system
  pass_filenames: false
  stages:
  - commit

Remove temporary files and build artifacts
  .coverage
  .coverage.macmini.lan.53258.XbDMKJhx
  coverage.xml
Due: none

テストカバレッジを96%に向上
  tests/test_command_completer_extended.py
  tests/test_init.py
  tests/test_iot_completer_extended.py
  tests/test_serial_connection.py
  tests/test_version.py
Due: black, mypy, pytest

品質改善: セキュリティ・テスト・フォーマット修正
  .flake8
  Makefile
  msx_serial/connection/telnet.py
  msx_serial/display/basic_display.py
  msx_serial/display/optimized_display.py
  msx_serial/transfer/basic_sender.py
  tests/test_command_completer_extended.py
  tests/test_completion.py
  tests/test_init.py
  tests/test_iot_completer_extended.py
  tests/test_serial_connection.py
  tests/test_version.py
Due: black, mypy, pytest

fix: CI/CD環境のバージョンパターンに対応
  tests/test_version.py
Due: black, mypy, pytest

fix: CI/CD型チェックエラーの修正
  msx_serial/common/cache_manager.py
  msx_serial/common/profiler.py
Due: black, mypy, pytest

docs: AI貢献度情報をREADMEに追加
  README.md
Due: update-readme-version

refactor: 「瞬時」表現の改善とファイル名の適正化
  README.md
  msx_serial/core/msx_session.py
  msx_serial/display/enhanced_display.py
  tests/test_enhanced_display.py
Due: update-readme-version, black, mypy, pytest

テストカバレッジを95%に改善
  tests/test_config_manager.py
Due: black, mypy, pytest

.gitignoreにカバレッジ一時ファイルのパターンを追加
  .gitignore
Due: none

feat: Cursorエディタ用コーディングルールを追加
  .cursorrules
Due: none

コミット前チェックリストを含む包括的なCursorエディタルールを追加
  .cursorrules
Due: none

テスト失敗とセキュリティ問題を修正し品質チェック要件を満たす状態に改善
  msx_serial/__main__.py
  msx_serial/commands/command_types.py
  msx_serial/commands/handler.py
  msx_serial/common/__init__.py
  msx_serial/common/cache_manager.py
  msx_serial/common/config_manager.py
  msx_serial/common/profiler.py
  msx_serial/completion/completers/command_completer.py
  msx_serial/core/msx_session.py
  tests/test_cache_manager.py
  tests/test_command_completer_extended.py
  tests/test_completion.py
  tests/test_config_factory.py
  tests/test_config_manager.py
  tests/test_connection_integration.py
  tests/test_file_manager.py
  tests/test_main.py
  tests/test_mode_switching.py
  tests/test_msx_session.py
  tests/test_profiler.py
  tests/test_terminal_dummy.py
  tests/test_uri_parser.py
Due: black, mypy, pytest

README.mdに謝辞セクションを追加
  README.md
Due: update-readme-version

複雑度C評価関数のリファクタリング実装
  msx_serial/common/config_manager.py
  msx_serial/completion/completers/command_completer.py
  msx_serial/completion/completers/help_completer.py
Due: black, mypy, pytest

ドキュメント: README.md分割とプロジェクト構造改善
  .cursorrules
  README.md
  docs/DEVELOPMENT.md
  docs/USAGE.md
  msx_serial/commands/handler.py
  tests/test_commands.py
Due: update-readme-version, black, mypy, pytest

テストカバレッジ大幅改善: 92%→94.55%の実現と.cursorrulesコンプライアンス向上
  tests/test_commands.py
  tests/test_config_manager.py
  tests/test_connection_integration.py
Due: black, mypy, pytest

テストカバレッジ95%達成: .cursorrules要件完全準拠
  tests/test_cache_manager.py
  tests/test_commands.py
  tests/test_completion.py
Due: black, mypy, pytest

テスト失敗修正完了: 全598テスト正常・カバレッジ95%維持
  tests/test_cache_manager.py
  tests/test_commands.py
  tests/test_completion.py
  tests/test_connection_integration.py
Due: black, mypy, pytest

README.md更新: AI貢献度90.2%・カバレッジ95%反映
  README.md
Due: update-readme-version

README.md: v0.2.19リリース準備
  README.md
Due: update-readme-version

テストカバレッジ95%以上達成・DOS補完安定化・不要コード整理・品質向上（AI支援による自動テスト追加・例外分岐カバー・ドキュメント更新）
  README.md
  docs/USAGE.md
  msx_serial/commands/command_types.py
  msx_serial/commands/handler.py
  msx_serial/completion/completers/command_completer.py
  msx_serial/completion/completers/dos_completer.py
  msx_serial/completion/dos_filesystem.py
  msx_serial/core/data_processor.py
  msx_serial/core/msx_session.py
  msx_serial/io/input_session.py
  msx_serial/io/user_interface.py
  tests/test_commands.py
  tests/test_completion.py
  tests/test_config_manager.py
  tests/test_data_processor.py
  tests/test_dos_filesystem.py
  tests/test_user_interface.py
Due: update-readme-version, black, mypy, pytest

DOSファイル名補完の安定化・テストカバレッジ向上・不要コード整理・CI安定化
  msx_serial/commands/handler.py
  msx_serial/core/data_processor.py
  tests/test_commands.py
  tests/test_completion.py
  tests/test_config_manager.py
  tests/test_dos_filesystem.py
  tests/test_user_interface.py
Due: black, mypy, pytest

AI貢献度を91.0%に更新・テスト統計を最新化
  README.md
Due: update-readme-version

feat: mypy型エラー完全修正とカバレッジ95%維持
  README.md
  msx_serial/completion/basic_filesystem.py
  msx_serial/completion/completers/basic_completer.py
  msx_serial/completion/completers/command_completer.py
  msx_serial/core/data_processor.py
  msx_serial/core/msx_session.py
  msx_serial/io/data_sender.py
  msx_serial/io/input_session.py
  msx_serial/io/user_interface.py
  tests/test_basic_completer.py
  tests/test_basic_filesystem.py
  tests/test_completion.py
  tests/test_data_processor.py
  tests/test_data_sender.py
  tests/test_terminal_dummy.py
  tests/test_user_interface.py
Due: update-readme-version, black, mypy, pytest

ドキュメント: README.mdの分割と整理
  README.md
  docs/AI_CONTRIBUTION.md
  docs/CHANGELOG.md
  docs/DEVELOPMENT.md
  docs/USAGE.md
  msx_serial/commands/command_types.py
  msx_serial/commands/handler.py
  tests/test_commands.py
Due: update-readme-version, black, mypy, pytest

ドキュメント: 謝辞セクションをREADME.mdに統一
  docs/DEVELOPMENT.md
Due: none

ドキュメント: README.mdに謝辞セクションを追加
  README.md
Due: update-readme-version

DOSモード補完機能の大幅改善: A>プロンプトでの実行ファイル優先表示とコマンド・ファイル同時補完を実装
  .gitignore
  msx_serial/completion/completers/dos_completer.py
  msx_serial/completion/dos_filesystem.py
  tests/test_dos_filesystem.py
Due: black, mypy, pytest

Release v0.2.21
  msx_serial/common/__init__.py
  tests/test_basic_filesystem.py
  tests/test_cache_manager.py
  tests/test_completion.py
  tests/test_config_factory.py
  tests/test_config_manager.py
  tests/test_connection_integration.py
  tests/test_dos_filesystem.py
  tests/test_file_manager.py
  tests/test_profiler.py
  tests/test_uri_parser.py
Due: black, mypy, pytest

📊 カバレッジとAI貢献度を最新情報に更新
  README.md
  docs/AI_CONTRIBUTION.md
Due: update-readme-version

docs: MSX-DOSコマンド一覧を日本語MSX-DOS2リファレンスマニュアルに基づいて更新
  msx_serial/data/dos_commands.yml
Due: none

style: isortによるインポート文の整理
  msx_serial/common/__init__.py
  tests/test_basic_filesystem.py
  tests/test_cache_manager.py
  tests/test_completion.py
  tests/test_config_factory.py
  tests/test_config_manager.py
  tests/test_connection_integration.py
  tests/test_dos_filesystem.py
  tests/test_file_manager.py
  tests/test_profiler.py
  tests/test_uri_parser.py
Due: black, mypy, pytest

fix: ATTRIBコマンドをMSX-DOSコマンド一覧に追加
  msx_serial/data/dos_commands.yml
Due: none

テストカバレッジ95%達成・テスト749件・AI貢献度/README更新・DOS補完堅牢化・品質ゲート全通過
  README.md
  debug_parse.py
  docs/AI_CONTRIBUTION.md
  msx_serial/completion/dos_filesystem.py
  tests/test_dos_filesystem.py
  tests/test_init.py
Due: update-readme-version, black, mypy, pytest

バージョン情報テストの堅牢化・CI互換性向上: version_tuple構造テストを型・構造検証中心に修正し、CI環境でのバージョン差異による失敗を防止。全品質ゲート（テスト・カバレッジ・静的解析・複雑度・セキュリティ）合格済み。
  tests/test_init.py
Due: black, mypy, pytest

Path conditions:
  update-readme-version: any of: ^(msx_serial/_version\.py|README\.md)$
  black: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
